body {
  font-family: "Roboto", sans-serif;
  background-color: crimson;
}

.jumbotron {
  background-color: #fafafa;
  color: #1e1e1e;
}

main {
  color: #fafafa;
}

.img-main {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

footer {
  padding: 3rem 10rem 0 10rem;
  color: crimson;
  margin-top: 4rem;
  background-color: #fafafa;
}

footer a {
  font-size: 18px;
  margin-top: 1rem;
  text-decoration: none;
  color: crimson;
}

footer a:hover {
  color: #1e1e1e;
}

.card-vr {
  -webkit-box-flex: 1;
      -ms-flex: 1 20em;
          flex: 1 20em;
  margin: .5rem .5rem;
  padding: 2rem 2rem;
  background-color: #fafafa;
  border-radius: 10px;
}

button {
  width: 100%;
}

.img-section {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
/*# sourceMappingURL=main.css.map */